<div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
  <ul class="menu xl:menu-vertical lg:min-w-max bg-base-200 rounded-box h-full">
    <div class="flex h-[60px] items-center border-b px-6">
      <a class="flex items-center gap-2 font-semibold text-decoration-none" href="#">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="h-6 w-6">
          <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
          <path d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"></path>
          <path d="M12 3v6"></path>
        </svg>
        <span>Crack The Code Admin</span>
      </a>
    </div>
    <li>
      <a routerLink="/admin/dashboard">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin/puzzle">Puzzles</a>
      <ul>
        <li><a routerLink="/admin/puzzle-create">Create</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/admin/puzzle-set">Puzzle Sets</a>
      <ul>
        <li><a routerLink="/admin/puzzle-set-create">Create</a></li>
      </ul>
    </li>
    <li>
      <a>Teams</a>
      <ul>
        <li><a>Create</a></li>
      </ul>
    </li>
  </ul>
  <div class="flex flex-col p-6 h-full">
    <main class="flex flex-1 flex-col gap-4 h-full">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
