<div class="grid lg:grid-cols-2 gap-4 px-4 py-6 w-full">
  <div class="card glass">
    <div class="flex flex-col space-y-1.5 p-6 pb-4">
      <h2 class="card-title">{{creationTitle}}</h2>
      <p class="text-sm text-muted-foreground">Enter the details of your {{ctype}}</p>
    </div>
    <div class="p-6">
      <div class="grid gap-4">
        <div class="grid w-full items-center gap-1.5">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="puzzle-title"
          >
            Title
          </label>
          <input
            class="input-bordered flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="puzzle-title"
            placeholder="Enter {{ctype}} title"
            type="text"
            [(ngModel)]="title"
          />
          <p class="text-sm text-gray-500 dark:text-gray-400">This will be the title of your {{ctype}}.</p>
        </div>
        <div class="grid w-full gap-1.5">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          >
            Description
          </label>
          <app-markdown-editor
            class="w-full"
            id="puzzle-content"
            placeholder="Enter the description for this {{ctype}}"
            (contentChange)="this.content = $event"
          ></app-markdown-editor>
          <p class="text-sm text-gray-500 dark:text-gray-400">Enter the description in Markdown
                                                              (HTML-tags are also supported).</p>
        </div>
        <button
          class="btn btn-primary btn-outline"
          (click)="save(title, content)">
          {{saveText}}
        </button>
      </div>
    </div>
  </div>
  <div
    class="card glass"
  >
    <div class="flex flex-col space-y-1.5 p-6 pb-4">
      <h3 class="text-2xl font-semibold leading-none tracking-tight"><b>Live Preview</b></h3>
      <p class="text-sm text-muted-foreground">See how your {{ctype}} will look</p>
    </div>
    <div class="pr-6 pl-6 pb-6">
      <div class="prose dark:prose-dark max-w-none">
        <markdown [data]="content"
                  katex
                  mermaid
                  class="inline-block w-full rounded border bg-card p-2 input-bordered">
        </markdown>
      </div>
    </div>
  </div>
</div>
